@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --DarkBlueIntro: hsl(217, 28%, 15%);
  --DarkBlueMain: hsl(218, 28%, 13%);
  --DarkBlueFooter: hsl(216, 53%, 9%);
  --DarkBlueTestimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --LightRed: hsl(0, 100%, 63%);
  --Grey: rgb(201, 194, 194);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--DarkBlueMain);
  color: var(--Grey);
  font-family: 'Open Sans';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navi {
  background-color: var(--DarkBlueIntro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway;
  padding: 1.5em;
}

.navi img {
  height: 25px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 2em;
}

li:last-child {
  margin-right: 0;
}

li a {
  text-decoration: none;
  color: var(--Grey);
  font-size: .8em;
}

h2 {
  font-size: 1.3em;
  font-family: 'Raleway';
  font-weight: 700;
  text-align: left;
  color: var(--White);
  line-height: 1.5em;
}

h1 {
  font-size: 1.7em;
  font-family: 'Raleway';
  font-weight: 700;
  text-align: center;
  color: var(--White);
  padding: 0 1em .5em 1em;
  line-height: 1.5em;
}

h3 {
  font-family: 'Raleway';
  font-weight: 700;
  text-align: center;
  color: var(--White);
}

.paragraphs {
  text-align: center;
}

.paragraphs2 {
  text-align: left;
}

.button {
  padding: 1em;
  background: -webkit-gradient(linear, left top, right top, from(var(--Cyan)), to(var(--Blue)));
  background: linear-gradient(90deg, var(--Cyan), var(--Blue));
  border-radius: 2em;
  text-align: center;
}

.intro {
  height: 500px;
  position: relative;
  margin-bottom: 10em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(32%, var(--DarkBlueMain)), color-stop(32%, var(--DarkBlueIntro)));
  background: linear-gradient(0deg, var(--DarkBlueMain) 32%, var(--DarkBlueIntro) 32%);
}

.intro .introDiv {
  position: absolute;
  top: 270px;
}

.intro .button {
  margin: 2em 4em 0 4em;
}

.intro p {
  padding: 0em 3em;
}

.intro .introIllustration {
  position: absolute;
  top: 20px;
  left: 40px;
  background-image: url("images/illustration-intro.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 300px;
  height: 300px;
}

.intro .introBackgroundImg {
  position: absolute;
  top: 200px;
  background-image: url("images/bg-curvy-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 375px;
  height: 300px;
}

.information {
  padding: 2em;
  margin-bottom: 5em;
}

.information img {
  display: block;
  margin: 0 auto 3em auto;
}

.information div {
  padding: 4em 0;
}

.information h3 {
  margin-bottom: 1em;
  font-size: 1.4em;
}

.information p {
  line-height: 1.5em;
}

.intersection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 0 2em;
  margin-bottom: 10em;
}

.intersection .illustrations {
  width: 300px;
  display: inline-block;
  margin: 0 auto 1em auto;
}

.intersection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.intersection .hyperlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  color: var(--Cyan);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid var(--Cyan);
  padding-bottom: .4em;
}

.testimonialSection {
  padding: 0 3em;
  margin-bottom: 20em;
}

.testimonialSection .quoteClass {
  position: relative;
}

.testimonialSection .testimonialQuote {
  position: absolute;
  left: -20px;
  top: -15px;
  width: 1.5em;
  height: 1.5em;
  margin-left: 2em;
  z-index: -1;
}

.testimonial {
  background-color: var(--DarkBlueTestimonials);
  padding: 2em 1.6em;
  margin-bottom: 2em;
  line-height: 1.5em;
  font-weight: 400;
  font-size: .8em;
  font-family: 'Open Sans';
}

.testimonialUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1em;
  margin-top: 1em;
}

.testimonialUser img {
  height: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 1em;
}

.testimonialUser .testimonialUserName {
  font-weight: 700;
}

.testimonialUser .testimonialUserCompany {
  font-size: .8em;
}

.testimonialUser p {
  padding: .25em;
}

.footer {
  padding-top: 16em;
  position: relative;
  background-color: var(--DarkBlueFooter);
}

.signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  top: -180px;
  position: absolute;
  background: var(--DarkBlueIntro);
  margin: 1em;
  padding: 2.5em;
}

.signUp .signButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.signUp input {
  border-radius: 2em;
  padding: .7em;
  width: 90%;
  border: none;
}

.signUp .button {
  width: 88%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
  gap: 1em;
}

.contact .contactImg {
  margin-bottom: 2em;
}

.contact .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2em;
}

.contact div {
  padding-bottom: 2em;
}

.additionalLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.additionalLinks a {
  padding: .5em 0;
}

.additionalLinks ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

.socialMedia {
  text-align: center;
  font-size: 1.5em;
}

@media (min-width: 840px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.2em;
    font-family: Raleway;
    padding-bottom: 20em;
  }
  .navi img {
    height: 40px;
  }
  .intro {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(32%, var(--DarkBlueIntro)), color-stop(32%, var(--DarkBlueIntro)));
    background: linear-gradient(0deg, var(--DarkBlueIntro) 32%, var(--DarkBlueIntro) 32%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .introIllustration {
    top: -50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-size: contain;
  }
  .intro .introBackgroundImg {
    position: unset;
    background-image: url("images/bg-curvy-desktop.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .intro .introDiv {
    top: 40%;
    width: 450px;
  }
  .intro .button {
    width: 35%;
    margin: 1em auto;
  }
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .information div {
    width: 40%;
  }
  .information p {
    width: 50%;
    margin: 0 auto;
  }
  .testimonialSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .testimonialSection .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonialSection .testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    width: 400px;
    height: 200px;
  }
  .testimonialSection .testimonial img {
    height: 60px;
    width: 60px;
  }
  .testimonialSection .quoteClass {
    position: relative;
  }
  .testimonialSection .testimonialQuote {
    position: absolute;
    left: -40px;
    top: -45px;
    width: 2.5em;
    height: 2.5em;
    margin-left: 2em;
    z-index: -1;
  }
  .intersection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
    padding: 0 2em;
    margin-bottom: 10em;
  }
  .intersection .illustrations {
    width: 30%;
    margin: 0;
    display: inline-block;
  }
  .intersection div {
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 1em;
  }
  .intersection h2 {
    font-size: 1.5em;
  }
  .intersection .hyperlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5em;
    color: var(--Cyan);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 1px solid var(--Cyan);
    padding-bottom: .4em;
  }
  .signUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5em;
    position: absolute;
    top: -18%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--DarkBlueIntro);
    margin: 0 20%;
    padding: 2.5em;
  }
  .signUp .signButtons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .signUp input {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    border-radius: 2em;
    padding: .7em;
    width: 90%;
    border: none;
  }
  .signUp .button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 90%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .additionalLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .socialMedia {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact {
    width: 100%;
  }
  .contact .contactWrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contactDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
  .contact .contactDetails .paragraphs2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact .contactDetails div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact .contactImg {
    margin-bottom: 2em;
  }
  .contact .contactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2em;
  }
  .contact div {
    padding-bottom: 2em;
  }
}
/*# sourceMappingURL=style.css.map */